@mixin display__flex__auto {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;        /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}