$white: #ffffff;
$black: #000000;
$orange: #f76c28;
$gray: #333333;
#banner {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 40%;
    width: 15%;
    right: -26%;
    bottom: 0;
    z-index: 0;
    background: url("../../assets/imgs/rightt.png");
    z-index: 111;
  }
}

.banner-header {
  text-align: center;
  padding-top: 20px;

  line-height: 80px;
  & h1 {
    font-size: 8rem;
    font-weight: 700;
  }
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; // Thay đổi từ flex-start
  gap: 30px;
  position: relative;
  z-index: 1;
}

.banner-content-right {
  width: 40%; // Thay đổi width thành 50-50
}

.banner-content-left {
  width: 60%;
}

// Container chính sản phẩm
.product-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem;
}

// Phần hình sản phẩm
.product-view {
  width: 100%; // Thay đổi từ 60% thành 100%
  margin-top: -15%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5%; // Position below sneaker
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/imgs/ellipse.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -1; // Place behind sneaker
    animation: bounce 3s linear infinite;
  }

  .sneaker-image {
    position: relative;
    width: 100%;
    display: block;
    animation: bounce 2s linear infinite;
  }

  & .btn-ripple {
    position: absolute;
    top: 34%;
    left: 12%;
    display: flex;
    width: 50%;
    justify-content: space-between;
    max-width: 768px;
  }

  & .btn-ripple-footer {
    position: absolute;
    right: 10%;
    bottom: 14%;
  }
  .plus-icon {
    overflow: hidden;
    background: var(--white); /* nền trắng */
    color: var(--second-color);
    border: none;
    width: 32px;
    height: 32px;
    font-size: 22px;

    border-radius: 50%; /* hình tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 #f0f0f0, 0 0 #ff824dab;
    animation: ripple 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
  }
  // Nút Explore
  .explore {
    position: absolute;
    bottom: 10%;
    left: 0;
    color: var(--black);
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    & svg {
      transform: rotate(90deg);
    }
  }
  // Nhãn phân vùng
  .label {
    position: absolute;
    background-color: $white;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 8rem;
    box-shadow: 2px 2px 8px #000c;
    .label-title {
      font-weight: 700;
      font-size: 0.75rem;
      margin-bottom: 0.2rem;
    }
    .label-part {
      font-size: 0.75rem;
      color: #555;
    }
    &.heel {
      top: 21%;
      left: 2.2%;
      width: 160px;
      display: flex;

      & img {
        max-width: 30%;
        max-height: 30%;
      }
      & .heel-right {
        padding-left: 5px;
        text-align: left;
        line-height: 10px;
        & .label-title {
          font-size: 10px;
        }

        & .label-part {
          font-size: 12px;
        }
      }
    }

    &.lace {
      top: 21%;
      left: 47.5%;
      width: 160px;
      display: flex;
      line-height: 10px;

      & img {
        max-width: 30%;
        max-height: 30%;
      }
      & .heel-right {
        padding-left: 5px;
        text-align: left;
        & .label-title {
          font-size: 10px;
        }
        & .label-part {
          font-size: 12px;
        }
      }
    }

    &.toe {
      bottom: 22%;
      right: 1%;
      width: 160px;
      display: flex;
      line-height: 10px;

      & img {
        max-width: 30%;
        max-height: 30%;
      }
      & .heel-right {
        padding-left: 5px;
        text-align: left;
        & .label-title {
          font-size: 10px;
        }
        & .label-part {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product-view {
    & .btn-ripple {
      top: 25%;
      left: 5%;
      width: 60%;

      & img {
        max-width: 100%;
      }
    }

    .label {
      &.heel {
        top: 15%;
        left: 5%;
      }

      &.lace {
        top: 5%;
        left: 35%;
      }

      &.toe {
        top: 35%;
        left: 55%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-view {
    & .btn-ripple {
      top: 20%;
      left: 2%;
      width: 100%;
      & img {
        max-width: 100%;
      }
    }

    .label {
      &.heel {
        top: 12%;
        left: 2%;
      }

      &.lace {
        top: 3%;
        left: 30%;
      }

      &.toe {
        top: 30%;
        left: 50%;
      }
    }
  }
}

// Phần thông tin sản phẩm
.product-info {
  width: 100%; // Thay đổi từ 35% thành 100%
  background-color: $black;
  color: $white;
  padding: 2rem;
  position: relative;
  height: 100%; // Đảm bảo product-info chiếm toàn bộ chiều cao
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    width: 50vw;
    height: 100%;
    right: -50vw;
    background: var(--theme-color);
    top: 0;
  }

  .product-info-left {
    flex: 1; // Cho phép phần tử này mở rộng để lấp đầy không gian

    flex-direction: column;
    justify-content: space-between;
    & .top-left-pulse {
      margin-bottom: 0.5rem;
    }
  }

  // Nút chức năng nhỏ
  .product-actions {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;

    & .wish-lbl-wrp {
      display: flex;
      width: 30%;
      justify-content: space-between;
      & span,
      .quickview-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--gray);
      }
    }
    .action-btn {
      background-color: transparent;
      border: none;
      color: $white;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: $gray;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: darken($gray, 10%);
      }
    }
  }

  .star-preview {
    padding-bottom: 1rem;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1rem;
    padding-bottom: 1rem;
  }
  .collection-name {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 1rem;

    color: var(--white);
  }

  .showmore {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.7rem 0;
  }

  .image-info {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
  }
  .description {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .sizes {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    span {
      font-size: 0.7rem;
      margin-right: 1rem;
      font-weight: 700;
    }
    ul {
      display: flex;
      gap: 0.5rem;
      list-style: none;
    }
    li {
      border: 1px solid $white;
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      cursor: pointer;
      font-size: 0.7rem;
      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
  .purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .purchase-main {
      .price {
        font-size: 1.2rem;
        font-weight: 700;
      }

      & .price-sale {
        font-size: 0.7rem;
        color: var(--red);
        text-decoration: line-through;
      }
    }

    .add-cart {
      background-color: $orange;
      color: $white;
      border: none;
      padding: 0.7rem 1.2rem;
      font-size: 0.8rem;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 50px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      i {
        margin-left: 0.5rem;
      }
      &:hover {
        background-color: var(--white);
        color: var(--second-color);
      }
    }
  }
}

// Khu vực sản phẩm khác
.other-products {
  margin-top: 3rem;
  width: 100%; // Thay đổi từ 100vw
  position: relative;
  left: 5%; // Xóa vị trí tuyệt đối

  // Nút Play Video
  min-width: 100;

  & .other-products_main {
    display: flex;
    background-color: var(--black);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -50vw;
      width: 50vw;
      background: var(--theme-color);
      top: 0;
      height: 100%;
    }
  }
  .play-video {
    display: flex;
    align-items: center;

    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding-left: 10px;

    p {
      font-size: 0.8rem;
      padding-left: 5px;
    }
  }
  .sgv-video {
    background: var(--second-color);
    width: 46px;
    height: 46px;

    box-shadow: 0 0 0 0 var(--second-color); // Thêm box-shadow ban đầu
    border-radius: 50%; // Thêm border-radius để tạo hình tròn
    display: flex;
    align-items: center;
    justify-content: center; // Căn giữa svg bên trong
    animation: ripple 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);

    svg {
      width: 10px; // Điều chỉnh kích thước svg nếu cần
      height: 21px;
    }
  }
  // Danh sách sản phẩm
  .product-list {
    display: flex;
    list-style: none;
    margin-left: 1rem;

    .product-item {
      width: 140px;
      gap: 0.5rem;
      background-color: $gray;

      .item-main {
        padding: 0.7rem;
      }

      .product-number {
        font-size: 1rem;
        font-weight: 700;
      }
      .product-thumb {
        padding-top: 10px;
        width: 40px;
        height: 40px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .product-details {
        display: flex;
        flex-direction: column;
        .brand {
          font-size: 0.7rem;
          font-weight: 700;
          padding: 5px 0;
        }
        .name {
          font-size: 0.6rem;
          font-weight: 400;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ripple {
  to {
    box-shadow: 0 0 0 8px transparent, 0 0 0 14px rgba(90, 153, 212, 0);
  }
}
